:root {
  --mainColor: #f04c2b;
  --secColor: #1f3b6f;
  --thirdColor: #f1a01f;
  --fourthColor: #04ab92;
  --linear:   background-image: linear-gradient(135deg, #f1a01f, #f04c2b);
}

p,h1,h1,h3,h4,h5,h6, div,a {
  font-family: 'Cairo', sans-serif !important;
}


.navbar_link, .banner-text {
  color: black;
}

a:hover,
a{
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.custom-container {
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

.base-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, var(--mainColor), var(--thirdColor));
  color: white;
  margin: 20px auto;
  width: 134px;
  height: 50px;
  border: none;
}


/* --------------------------------------- */

.banner-text {
  font-size: 14px;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: -0.03rem;
  text-decoration: none;
  text-transform: none;
  color: var(--mainColor);
}

.top-banner i {
  font-size: 32px;

}

.top-banner-layout {
  padding: 10px 0;
}

.text-end {
  color: var(--mainColor);
}

.dropdown-list {
  position: relative;
}

.dropdown-list .wrapper {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  display: none;
}

 .dropdown-list ul {
  font-weight: bold;
  background:var(--secColor);
  border-radius: 6px;
  border: 1px solid  var(--thirdColor);
  padding: 30px 10px;
  width: 87px;
  text-align: center;
  list-style: none;
}

.dropdown-list ul li {
  padding: 0;
}
.change_lang:hover,  .dropdown-list ul li:hover {
  cursor: pointer;
  color: var(--mainColor);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

/* header  */
.section-course-header {
  margin-right: 1em;
  margin-left: 1em;
  border-radius: 1.5em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/banner.webp);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/banner.webp);
  background-position: 0 0, 0 0;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  color: white;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;


}

.container-large {
  padding: 140px 0px 61px ;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}
.course-catalog-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.course-text-wrapper {
  max-width: 49ch;
}

.course-text-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-family: GothamPro, sans-serif;
  color: #fff;
  font-size: 42px;
  line-height: 1.2;
  font-weight: 700;
}

.course-catalog-content img {
  width: 400px;
}

@media (max-width: 991px) {
  .section-course-header {
      margin-right: 0;
      margin-left: 0;
      border-radius: 0;
  }
  .course-catalog-content {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}
/* nav */
nav.navbar  {
  background-color: transparent !important;
}

.home-nav-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.nav-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1.8em 0.9rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8em;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(7%, #fc4c44), to(#ffca46));
  background-image: linear-gradient(90deg, #fc4c44 7%, #ffca46);
  color: #fff;
  font-size: 0.8125rem;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.nav-button:hover {
  color: white
}

.navbar-nav .nav-link {
  color: white;
  font-weight: bold;
}

.navbar-nav .nav-link.active {
  color: var(--mainColor);
}
.navbar-toggler-icon {
  background-color: var(--main-color);
  padding: 14px;
  border-radius: 5px;
}

.navbar-toggler {
  padding: 0;
  background-color: var(--mainColor);
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 var(--main-color);
}

.navbar-collapse  {
  border-radius: 10px;  
}

nav .logo img {
  width: 170px;
}
@media (max-width:991px ) {
  .navbar-collapse  {
    margin-top: 20px;
    background-color: var(--secColor);
  }
}

/* siction count timer */

.section-countdown-timer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.countdown-row {
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.countdown-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: GothamPro, sans-serif;
  color: var(--secColor);
  font-size: 20px;
  line-height: 1.1;
  font-weight: 500;
  text-align: center;
}

.countdown-block {
  display: inline-block;
  width: 70px;
  margin: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-radius: 8px;
  background-color: var(--thirdColor);
  background-image: linear-gradient(135deg, #f1a01f, #f04c2b);
  box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 27%);
  color: var(--secColor);
}

.countdown-time {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.countdown-detail {
  font-size: 14px;
  text-align: center;
}

/* *************
categroy courses
*******************/
.category-item li {
  background-color: var(--mainColor);
  background-image: linear-gradient(135deg, #f1a01f, #f04c2b);
  border: none;
  margin-bottom: 10px;
}

.category-item li:hover {
  background-color: var(--thirdColor)
}

.collection-item {
  margin-bottom: 30px;
  padding: 30px;
}


.collection-item a {
  position: relative;
  transition: all 0.8s ease;
}

.collection-item a .courses-tile-item  {
  color: var(--secColor);
}
.collection-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  transition: all 0.4s ease;
}

.collection-item .overlay-one {
  background-color: var(--mainColor);
  transform: skewX(-3deg);
  -webkit-transform: skewX(-3deg);
    background-image: linear-gradient(135deg, #f1a01f, #f04c2b);

}

.collection-item:hover a {
  transform: scale(1.05);
}
.collection-item:hover .overlay-one {
  transform: skewX(3deg);
  -webkit-transform: skewX(3deg);
}



.section-courses-tiles {
  margin-top: 40px;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #f5f5f8;
}

.catalogue-label-div {
  margin-bottom: 40px;
}

.wiz-label.is--blue-to-green.uppercase {
  line-height: 1.5;
}

.catalogue-header.column-title {
  margin-right: 0.5em;
  margin-bottom: 0;
  font-size: 36px;
}

.session-start-copy {
  margin-top: 20px;
  margin-bottom: 0;
  font-family: GothamPro, sans-serif;
  color: #848699;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 500;
}

.courses-content_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-column-gap: 4em;
  grid-row-gap: 4em;
}


.course-tile-img-wrapper {
  display: block;
  height: 100%;
  color: #000;
}

.courses-tile-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 3px 3px 12px -11px transparent;
}

.courses-tile-img {
  width: 100%;
  border-radius: 24px 24px 0 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.course-top-wrapper {
  display: block;
  padding: 1em 2.25em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-4 {
  display: block;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 1.3em;
  letter-spacing: -0.03em;
}
.instructor-text-div {
  display: block;
  margin-bottom: 10px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(6%, #5468e5), color-stop(38%, #19cf23));
  background-image: linear-gradient(90deg, #5468e5 6%, #19cf23 38%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.course-instructor-with.green-gradient {
  display: inline-block;
  margin-right: 4px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.course-instructor-with {
  font-size: 12px;
  line-height: 1.6;
  font-weight: 700;
  text-transform: uppercase;
}

.courses-tile-course-detail.green-gradient {
  display: inline;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.course-tile-paragraph-wrapper {
  display: block;
  margin: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-size-regular.grey {
  display: block;
  color: #7c868d;
  font-size: 16px;
}

.courses-tile-text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 2.25em;
  padding-bottom: 2.25em;
  padding-left: 2.25em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-column-gap: 1.75em;
  grid-row-gap: 1.75em;
}

.div-block-116 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.course-level-for-filter-wrapper {
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.courses-tile-course-detail.grey {
  color: #7c868d;
  font-size: 12px;
}
.courses-tile-course-detail {
  font-size: 12px;
  line-height: 1.6;
  font-weight: 700;
  text-transform: uppercase;
}

.course-tile-type {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.course-tile-weeks-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 0.25em;
}

.course-tile-price-button-wrapper._2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.course-tile-pricing-wrapper._2 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
}

.course-installment-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
}

.courses-tile-3payments {
  padding-right: 5px;
  color: #7c868d;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
}

.courses-price-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5px;
}

.courses-tile-price {
  font-size: 1.9em;
  line-height: 0.5;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .courses-collection-list {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}@media (max-width: 767px) {
  .courses-collection-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

/* ///////////////
  footer
////////// */



footer {
  background: url(../images/footer-bg.svg);
  background-size: cover;
  position: relative;
}

footer .container {
  z-index: 2;
}


footer .subscribe {
  background: #fff;
  padding: 90px 50px;
  -webkit-box-shadow: 0 0 18px 0 rgb(50 77 215 / 14%);
  box-shadow: 0 0 10px 0 var(--secColor) ;
  border-radius: 13px;
  color: var(--secColor);
}

footer .subscribe .title {
  margin-bottom: 35px;
}

footer .subscribe .title h3 {
  line-height: 1.1;
  font-weight: bold;
}

footer .subscribe .title span {
  display: inline-block;
  font-weight: lighter;
}



@media (max-width: 576px) {
  footer .subscribe  {
   padding: 60px 30px;
  }
  footer .subscribe .title h3 {
    font-size: 27px;
  }
  footer .subscribe .title span {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  footer .subscribe .title {
    margin-bottom: 0;
  }
  footer .subscribe .title h3 {
      font-size: 30px;
  }
  footer .subscribe .title span {
      font-size: 27px;
  }
}

@media (min-width: 1200px) {
  footer .subscribe .title h3 {
      font-size: 40px;
  }
  footer .subscribe .title span {
      font-size: 30px;
  }
}

footer .subscribe form {
  position: relative;
}

footer .subscribe form input {
  width: 100%;
  height: 72px;
  padding: 0 27px;
  border: 2px solid #e2dfdf;
  border-radius: 10px;
  outline: 0;
}

footer .subscribe form button {
  position: absolute;
  left: 0;
  top: 0;
  border: none;
  outline: 0;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 120px;
  line-height: 45px;
  color: #fff;
  background: -webkit-gradient(linear,left top,right top,from(#fe8464),color-stop(50%,#fe6e9a),to(#fe8464));
  background: linear-gradient(90deg,var(--mainColor) 0,var(--thirdColor) 50%,#fe8464);
  background-size: 200%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media (max-width: 576px) {
    footer .subscribe form button {
    position: relative;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

footer .footer-body {
  color: #fff;
  padding: 100px 0;
}

footer .footer-body  .head {
  margin-bottom: 20px;
}

footer .footer-body p {
  color: #fff;
}
footer .footer-body  ul {
  padding-right: 0;
}
footer .footer-body ul li:not(:last-of-type) {
  margin-bottom: 20px;
}

footer .footer-body  ul li a {
  transition: all 0.3s ease;
}

footer .footer-body  ul li a:hover {
  color: var(--secColor);
}

footer .footer-body .logo-sec .head img {
  width: 200px;
}

footer .footer-body .logo-sec .social ul li {
  display: inline-block;
  margin-left: 24px;
  font-size: 22px;
  margin-bottom: 0;
}

@media ((max-width: 991px)) {
  footer .footer-body {
    padding-bottom: 60px;
  }
  footer .footer-body div[class^="col"] {
    margin-bottom: 40px;
  }
}
